<div class='lives'>
  <h1> LIVES: </h1>
  <span id='life1'>X</span>
  <span id='life2'>X</span>
  <span id='life3'>X</span>
</div>

<div id='level'>
  <h1>LEVEL: 1</h1>
</div>

<div class='instruct'>
  <span>Use A/D to move LEFT/RIGHT</span>
</div>

<div id='lost'>
  <h1>You Lost</h1>
  <p>Click anywhere to restart</p>
</div>
  