.instruct {
  position: absolute;
  top: 3%;
  right: 0;
  margin-right: 3%;
  color: white;
  font-family: arial;
}

body { 
  margin: 0; 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

canvas { 
  width: 100%; 
  height: 100%;
}

.lives {
  font-size: 15px;
  font-family: arial;
  position: absolute;
  color: white;
  left: 3%;
  top: 3%;
}

#level {
  font-size: 15px;
  font-family: arial;
  position: absolute;
  color: white;
  left: 3%;
  top: 8%;
}

h1{
    display: inline;
}

span {
  font-size: 30px;
  margin-left: 10px;
}

#lost{
  position: absolute;
  color: white;
  font-family: arial;
  top: 45%;
  left: 50%;
  font-size: 40px;
  display: none;
}

#lost h1 {
  position: relative;
  margin: 0 auto;
  left: -50%;
}

p {
  position: absolute;
  top: 100%;
  width: 500px;
  left: -65%;
}